@mixin button {
  background-color: $buttonColor;
  color: #fff;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 3px;
  font-family: "Hind", sans-serif;
  font-weight: map-get($font-weights, "superBold");
  font-size: 18px;
  &:hover {
    background-color: gray;
  }
}

@mixin login {
  color: #fff;
  &:hover {
    color: blue;
  }
}

body {
  max-width: 1920px;
  margin: auto;
  background: $contentBackground;

  .header {
    background: $landingLogo;
    background-position: center;
    background-size: cover;
    min-height: 740px;
    color: $fontColor;
    border-bottom-right-radius: 600px 200px;
    font-family: "Source Sans Pro", sans-serif;

    .header-wrap {
      margin-left: 200px;

      .header_heading {
        width: 600px;
        font-size: 70px;
        font-weight: bold;
        line-height: 70px;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          width: 300px;
          height: 65px;
          right: 310px;
          background: $textHighlight;
          z-index: -1;
          position: absolute;
        }
      }

      .header_text {
        margin-bottom: 70px;
        font-family: $headingTextFont;
        line-height: 1.8;
        white-space: pre-line;
      }

      .header_button {
        @include button;
      }

      .login {
        @include login;
        font-weight: map-get($font-weights, "superBold");
        font-size: 20px;
        margin-left: 150px;
      }
    }
  }
}
.landing-logo {
  padding-top: 20px;
  display: flex;
  align-items: center;

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    color: $fontColor;
    text-align: center;
    font-size: 25px;
    font-weight: map-get($font-weights, "normalBold");
    font-family: $headingTextFont;
    span {
      font-size: 10px;
      font-weight: normal;
    }
  }
}

main {
  font-family: "Source Sans Pro", sans-serif;

  .section_text {
    font-size: 40px;
    font-weight: map-get($font-weights, "normalBold");
    text-align: center;
    color: $extraTextColor;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 190px;
      height: 45px;
      right: 600px;
      background: $textHighlight;
      z-index: -1;
      position: absolute;
    }
  }
  .section_card_wrap {
    width: 1100px;
    margin: 0 auto;

    .section_card {
      background-color: $cardColor;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #fff;
      padding: 20px;
      border-radius: 5px;
      display: flex;

      .section_card_img {
        border-radius: 5px;
        width: 480px;
      }

      .section_card_right_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 80px;
        width: 600px;

        .section_card_heading {
          font-size: 22px;
          font-weight: 800;
          margin: 0;
        }

        .section_card_text {
          line-height: 1.6;
          font-family: "Hind", sans-serif;
        }

        .section_link {
          @include login;
        }
      }
    }
  }
}

.section_banner {
  margin-top: 100px;
  width: 1260px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right, $buttonColor, $textHighlight);
  height: 150px;
  border-radius: 5px;
  color: #fff;
  margin-top: 100px;

  .section_banner_heading {
    font-size: 30px;
    font-weight: map-get($font-weights, "superBold");
    color: $extraTextColor;
    margin-bottom: 0;
    z-index: 1;
    position: relative;

    &::after {
      content: "";
      width: 70px;
      height: 45px;
      right: 220px;
      background: $textHighlight;
      z-index: -1;
      position: absolute;
    }
  }
  .section_banner_text {
    font-family: $headingTextFont;
  }
  .section_banner_button {
    @include button;
  }
}

.footer {
  background: $cardColor;
  height: 250px;
  color: #fff;
  font-family: $headingTextFont;
  z-index: -1;
  position: relative;
  margin-top: -90px;

  .footer-wrap {
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .landing-logo {
    @extend .landing-logo;
    p {
      color: #fff;
    }
  }
  .footer_text {
    width: 400px;
  }
}
