$contentBackground: #fff;
//$textColorBlack: black;
$landingLogo: url(../img/m-h-day.jpg);
$buttonColor: rgb(98, 167, 35);
$cardColor: rgb(13, 9, 36);
$textHighlight: rgba(31, 100, 204, 0.767);
//$footerBackground: rgb(42, 41, 56);
$fontColor: black;
$headingTextFont: "Hind", sans-serif;
