$contentBackground: rgb(42, 41, 56);
//$textColorWhite: #fff;
$landingLogo: url(../img/m-h-night.jpg);
$buttonColor: rgba(252, 167, 10, 0.815);
$cardColor: rgb(64, 62, 85);
$textHighlight: rgb(241, 65, 65);
$fontColor: #fff;
$headingTextFont: "Fresca", sans-serif;
