body {
  margin: auto;
  max-width: 1920px;
  color: #777;
}

main {
  margin: auto;
  max-width: 900px;
}

.home_background {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  flex: 0.3;
  height: 60px;
}
.menu a:hover {
  color: #bfba55;
}
.menu a {
  text-decoration: none;
  color: #777;
}
header nav .logo {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
}

.banner {
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-heading {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 500;
  margin: 0;
}
.header-text {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #bfba55;
}
.header-button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid gray;
  font-weight: 500;
  color: #777;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.section-card {
  margin-top: 80px;
  margin-bottom: 70px;
}

.section-card-img {
  display: block;
  width: 100%;
}

.section-card-heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-info {
  display: flex;
  flex-direction: row;
}

.article-info p {
  margin-left: 15px;
}

.section-card-text {
  line-height: 1.6;
}

.section-button {
  height: 45px;
  width: 180px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid gray;
  font-weight: 600;
  color: #777;
}

.footer {
  height: 300px;
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.footer-wrap {
  max-width: 900px;
}

.contacts-heading {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer-text-heading {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer-text {
  width: 400px;
  line-height: 1.6;
}

.btn:hover {
  background-color: #bfba55;
}
