@import "variables.less";

.navbar-light {
    .navbar-nav {
        .active {
            .nav-link{
                color: @white;
                background-color: @blue;
           }
        }
    }  
}

.heading {
    color: @blue
}

.card {
    border-color: transparent;
}

.sports-list-item {
    color: @white;
    text-align: center;

    &__footer {

        &--red {
            background-color: @red;
        }
        &--blue {
            background-color: @blue;
        }
        &--orange {
            background-color: @orange;
        }
        &--green {
            background-color: @green;
        }
    }   
}

