@import "variables.less";

.navbar-light .navbar-nav .active .nav-link {
    color: @link-color;
    background-color: @blue;
}
.header {
    color: @blue
}

.sports-list-item {
    color: @white;
    font-weight: bold;
    border-color: transparent;
    text-align: center;

    &__footer {
        
        &--red {
            background-color: @red;
        }
        &--blue {
            background-color: @blue;
        }
        &--orange {
            background-color: @orange;
        }
        &--green {
            background-color: @green;
        }
    }
}