@import "buttons";

body {
    max-width  : 960px;
    margin     : 0 auto;
    line-height: 1.5;
}

.heading,
.rules-heading,
#score,
#result {
    text-align: center;
    color     : rgb(39, 33, 33);
}

.rules {
    display        : flex;
    justify-content: center;
    font-size      : large;

    ol {
        margin-top: 0;
    }
}

#buttons {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top           : 2rem;
}

#score {
    margin-top: 2rem;
    font-size : 2rem;
}

#result {
    margin-top: 2rem;
    font-size : 3rem;
}

.restart-game {
    margin-top: 2rem;
    display   : grid;
}